<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404</title>
	<link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


</head>

<body class=" bg-dark mt-5">
    <div class=" d-flex flex-column justify-content-lg-center align-items-md-center card container">
        <h1 class="text-danger ">404 Error</h1>
        <h4 class="m-5 ">!یافت می‌نشود جسته‌ایم ما</h4>
        <button onclick="location.href='/'" class="closewin btn"><img src="https://img.icons8.com/nolan/37/home-page.png"/></button>

  </div>

</body>

</html>