<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}} Home Page</title>
    <link href="./static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/style/style.css">

</head>

<body class="bg-dark">
    <header class="container mb-5">
        <div>
            <div class="card d-lg-flex flex-row-reverse justify-content-between mt-5 align-items-center">
                <div>

                    <button onclick="location.href='/'" class="closewin btn"><img
                            src="https://img.icons8.com/nolan/37/home-page.png" /></button>

                    <button onclick="location.href='/logout'" class="closewin btn "><img
                            src="https://img.icons8.com/nolan/37/exit-sign.png" /></button>

                </div>
                <div class="d-flex flex-column justify-content-lg-center align-items-center">
                    <h3>M.S.Y.T.C</h3>
                    <h6>Trading Management WebApplication</h6>
                  </div>
                <div>
                    <div id="onlinecheck" class="btn btn-success">online</div>
                    <h6><b class="text-dark userid"> <span class="text-secondary">@{{username}}</span></b></h6>
                </div>
            </div>
        </div>
    </header>

    <div class="container d-flex flex-row h-75">

        <div class="list-group card w-25">

            <button onclick="location.href='/'" class="closewin btn"><img
                    src="https://img.icons8.com/nolan/100/home-page.png" /></button>

            <button onclick="location.href='/logout'" class="closewin btn "><img
                    src="https://img.icons8.com/nolan/100/exit-sign.png" /></button>
            <button onclick="excel()" class="closewin btn "><img
                    src="https://img.icons8.com/nolan/100/ms-excel.png" /></button>

                    {% if smt=="Admin"%}
                       
                        <select class="btn btn-outline-dark" name="use" id="use">
                            <option value="{{username}}">Your History</option>
                            {% for i in users %}
                            <option value="{{i}}">{{i}}</option>
        
                            {% endfor %}
        
                        </select>
                    {% endif %}
        </div>

        <div class="card d-flex justify-content-xl-start align-items-md-center w-100" style="overflow-y: scroll;">

            <table class="table h-75 table-striped table-bordered" id="table2excel">

                <tbody id="tbod">

                    {% for i in rows %}
                    <tr>
                        {% for t in i %}
                        <th>{{t}}</th>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{{url_for('static',filename='js/jquery.table2excel.js')}}"></script>
    <script>
        excel = () => {
            2
            $("#table2excel").table2excel({
                exclude: ".noExl",
                name: "{{username}} History in Smart Trading",
                filename: "{{username}} History in Smart Trading",
                fileext: ".xls"

            });

        }
    </script>
    {% if smt=="Admin"%}
    <script>
        $("#use").change(
            () => {
                $.when($.get(`/admin/history?username=${ $("#use").val()}&t=` + Math.random())).then(function (data,
                    textStatus,
                    jqXHR) {


                    const js2 = data;
                    const dt = js2["data"];
                    $("#tbod").empty();

                    for (let index = 0; index < dt.length; index++) {
                        const element = dt[index];
                        let ad = "";
                        ad += "<tr>";
                        for (let index = 0; index < element.length; index++) {
                            const element2 = element[index];
                            ad += "<th>";
                            ad += element2;

                            ad += "</th>";

                        }
                        ad += "</th>";

                        $("#tbod").append(ad);
                    }


                })
            })
    </script>
    {% endif %}
</body>

</html>