<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{username}} Shared Area</title>
  <link href="/static/img/Profile-Pictures/{{pic}}.png" rel="icon" type="image/x-icon" />

  <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}
  " rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}} ">
</head>

<body class="bg-dark d-lg-flex container flex-column align-items-md-center justify-content-md-center">


  <header class="container mb-5">
    <div>
      <div class="card d-lg-flex flex-row-reverse justify-content-between mt-5 align-items-center">
        <div>
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="them">
            <label class="form-check-label" for="them">Dark Them</label>
          </div>
          <button onclick="location.href='/'" class="closewin btn"><img src="https://img.icons8.com/nolan/37/home-page.png"/></button>

          <button onclick="location.href='/logout'" class="closewin btn "><img src="https://img.icons8.com/nolan/37/exit-sign.png"/></button>

        </div>
        <div class="d-flex flex-column justify-content-lg-center align-items-center">
          <h3>M.S.Y.T.C</h3>
          <h6>Trading Management WebApplication</h6>
        </div>
        <div>
          <div id="onlinecheck" class="btn btn-success">online</div>
          <button id="setlocation" class="btn"><img id="saveic" src="https://img.icons8.com/nolan/37/save-all.png"/></button>
          <button id="resetlocation" aria-hidden="true" class="btn"><img src="https://img.icons8.com/nolan/37/repeat.png"/></button>

          <h6><b class="text-dark userid"> <span class="text-secondary">@{{username}}</span></b></h6>
        </div>
      </div>
    </div>
  </header>



  <section style="width: 2500px; " class=" d-lg-flex align-items-lg-start justify-content-md-center">
    <div id="c1" class="card draggable w-200px h-630px" style="left: 0px; top: 0px; overflow-y: scroll;">



      <input type="text" placeholder="Search ..." id="Search-3" class="btn text-align-left ">
      <div class="d-grid gap-2">
        <button id="closebtn" type="button" class="btn btn-outline-warning m-2">Close Position</button>
      </div>
      <table class="table table-striped h-500px ">
        <tbody id="closeuserslist">


        </tbody>


      </table>




    </div>
    <div id="c2" class="draggable card w-200px h-630px d-flex align-items-md-center" style="left: 0px; top: 0px;">
      <input id="Search-2" type="text" placeholder="Search ..." class="btn text-align-left ">
      <select multiple class="form-control h-500px card" id="lastOrders">
        {% for i in notclosed %}
        <option value="{{i[3]}}">{{i[0]}} {{i[1]}} {{i[2]}} </option>
        {% endfor %}
      </select>
      <div>
        <button id="showuserss" class="btn mt-3 "><img src="https://img.icons8.com/nolan/64/view-delivery.png"/></button>

      </div>

    </div>
    <div id="c3" style="left: 0px; top: 0px;"
      class="card draggable w-600px h-630px d-lg-flex flex-column align-items-center justify-content-sm-evenly">

      <select id="symbolsselect" class="btn btn-dark" style="padding: 10px 40px;" name="symbols">


        {% for i in titles %}
        <option value="{{i}}">{{i}}</option>

        {% endfor %}
      </select>
      
      
      <div class="input-group input-group-sm mb-3 w-50">
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Value
          </span>
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <button class="btn" onclick="Raise()"><img src="https://img.icons8.com/nolan/26/thick-arrow-pointing-up.png"/></button>
            <button class="btn" onclick="less()"><img src="https://img.icons8.com/nolan/26/thick-arrow-pointing-down.png"/></button>

          </span>
        </div>
        <input style="font-display: bold; " type="text" class="card form-control" id="valueprice" value="0.01"
        placeholder="Take Profit">
      </div>
 <div class="d-flex flex-row ">
  <div class="input-group input-group-sm mb-3 w-50">
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroup-sizing-sm">
        Take Profit
      </span>
      <span class="input-group-text" id="inputGroup-sizing-sm">
        <button class="btn" onclick="Raisetpsl('tp')"><img src="https://img.icons8.com/nolan/26/thick-arrow-pointing-up.png"/></button>
        <button class="btn" onclick="lessetpsl('tp')"><img src="https://img.icons8.com/nolan/26/thick-arrow-pointing-down.png"/></button>

      </span>
    </div>
    <input style="font-display: bold; " type="text" class="card form-control" id="tp" value="0.00000"
    placeholder="Take Profit">
  </div>
  <div class="input-group input-group-sm mb-3 w-50">
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroup-sizing-sm">
        Stop Loss
      </span>
      <span class="input-group-text" id="inputGroup-sizing-sm">
        <button class="btn" onclick="Raisetpsl('sl')"><img src="https://img.icons8.com/nolan/26/thick-arrow-pointing-up.png"/></button>
        <button class="btn" onclick="lessetpsl('sl')"><img src="https://img.icons8.com/nolan/26/thick-arrow-pointing-down.png"/></button>

      </span>
    </div>
    <input style="font-display: bold; " type="text" class="card form-control" id="sl" value="0.00000"
    placeholder="Take Profit">
  </div>

 </div>
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" id="OneClickTrade">
        <label class="form-check-label" for="OneClickTrade"><b>One Click Trade</b></label>
      </div>

      <div class="d-flex flex-column ">

        <div>
          <button id="Buybtn" style="padding: 10px 60px;" type="button" class="btn btn-success">Buy</button>
          <button id="Sellbtn" style="padding: 10px 60px;" type="button" class="btn btn-danger">Sell</button>
        </div>
        <button id="Confirmbtn" style="padding: 10px 60px; margin-top: 5px; display: none;" type="button"
          class="btn btn-primary">Confirm</button>

      </div>

    </div>
    <div id="c4" class="card draggable w-200px h-630px" style="left: 0px; top: 0px; overflow-y: scroll;">


      <input id="Search-1" type="text" placeholder="Search ..." class="btn text-align-left ">
      <table class="table table-striped  h-580px">
        <tbody id="UsersToOrder">


        </tbody>

      </table>



    </div>
    <div id="c5" class="card draggable w-200px h-630px" style="left: 0px; top: 0px;">
      <div class="card list-group users-list h-580px">
        {% for UserUsername in users %}
        {% if UserUsername != "" %}
        <a href="#" class="list-group-item list-group-item-action list-group-item-success useridlist"
          id="{{UserUsername}}">{{UsersName[users.index(UserUsername)][0]}}<br>
          <span class="text-secondary ">@{{UserUsername}}</span></a>
        {% endif %}
        {% endfor %}

        <!--
          <a href="#" class="list-group-item list-group-item-action list-group-item-success">Appearance name <span
            class="text-secondary userid" id="34567655">@username</span></a>

        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Appearance name <span
            class="text-secondary " id="57876532">@username</span></a>
-->


      </div>

      <div class="d-grid gap-2">
        <button id="RefreshUsers" class="btn btn-outline-dark m-2">Refresh</button>
      </div>
    </div>

    <div id="c6" style="left: 0px; top: 0px;"
      class="d-flex flex-column align-items-center justify-content-lg-center draggable w-600px h-630px">

      <div id="MassageBoxId" class=" MassageBox card  w-100 h-580px">



      </div>


      <div class="card d-flex flex-row align-items-center justify-content-sm-between w-600px">

        <textarea type="text" class="btn text-align-left w-300px" id="MessageHolder"
          placeholder="Write a message..."></textarea>
        <div class="emojiPicker draggable" style="display: none;">
          <div class="emojiFrame1 bg-secondary float-end"><span class="">❌</span></div>

          <div class="emojis ">
            <div class="emojiFrame"><span id="128540" class="emoji">&#128540;</span></div>
            <div class="emojiFrame"><span id="128513" class="emoji">&#128513;</span></div>
            <div class="emojiFrame"><span id="128514" class="emoji">&#128514;</span></div>
            <div class="emojiFrame"><span id="128515" class="emoji">&#128515;</span></div>
            <div class="emojiFrame"><span id="128516" class="emoji">&#128516;</span></div>
            <div class="emojiFrame"><span id="128517" class="emoji">&#128517;</span></div>
            <div class="emojiFrame"><span id="128518" class="emoji">&#128518;</span></div>
            <div class="emojiFrame"><span id="128519" class="emoji">&#128519;</span></div>
            <div class="emojiFrame"><span id="128521" class="emoji">&#128521;</span></div>
            <div class="emojiFrame"><span id="128522" class="emoji">&#128522;</span></div>
            <div class="emojiFrame"><span id="128523" class="emoji">&#128523;</span></div>
            <div class="emojiFrame"><span id="128524" class="emoji">&#128524;</span></div>
            <div class="emojiFrame"><span id="128525" class="emoji">&#128525;</span></div>
            <div class="emojiFrame"><span id="128526" class="emoji">&#128526;</span></div>
            <div class="emojiFrame"><span id="128527" class="emoji">&#128527;</span></div>
            <div class="emojiFrame"><span id="128528" class="emoji">&#128528;</span></div>
            <div class="emojiFrame"><span id="128529" class="emoji">&#128529;</span></div>
            <div class="emojiFrame"><span id="128530" class="emoji">&#128530;</span></div>
            <div class="emojiFrame"><span id="128531" class="emoji">&#128531;</span></div>
            <div class="emojiFrame"><span id="128532" class="emoji">&#128532;</span></div>
            <div class="emojiFrame"><span id="128533" class="emoji">&#128533;</span></div>
            <div class="emojiFrame"><span id="128534" class="emoji">&#128534;</span></div>
            <div class="emojiFrame"><span id="128535" class="emoji">&#128535;</span></div>
            <div class="emojiFrame"><span id="128536" class="emoji">&#128536;</span></div>
            <div class="emojiFrame"><span id="128537" class="emoji">&#128537;</span></div>
            <div class="emojiFrame"><span id="128538" class="emoji">&#128538;</span></div>
            <div class="emojiFrame"><span id="128539" class="emoji">&#128539;</span></div>
            <div class="emojiFrame"><span id="128546" class="emoji">&#128546;</span></div>



          </div>
        </div>
        <div class="emojiFrame2"><span class="">&#128540;</span></div>
        <button id="SendMessage" class="btn btn-primary ">💬</button>

      </div>
    </div>
  </section>
  <script>
    const username = "{{username}}";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
  </script>
  <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
  </script>
  <!--<script src="{{url_for('static',filename='js/jquery-3.5.1.js')}}"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="{{url_for('static',filename='js/jquery-ui.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
    const user_name = '{{username}}';
    const pic = '{{pic}}';
    const smt = 'Admin';
    const room = '{{room}}';
    let stat = "";
  </script>
  <script src="/static/js/Message.js?random={{random}}"></script>
  <script src="/static/js/script.js?random={{random}}"></script>


  <!--
      let SystemMessagetext = '';
    let UserMessa
$(document).load(function () {

  while (true) {
    console.log("Hi");
   
  }


})
-->
</body>

</html>